Release*/
Debug*/
bin/*
build/
html/
Test-Suite/
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.*
!.gitignore
*~
*.o
*.out
*.ll
*.bc
*.opt
*.log
*.status
*.obj
cmake-build-debug
cmake-build-default
build.sh
/**/CMakeFiles
CMakeCache.txt
Release-build
setup.sh
